# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# IntelliJ
.idea/
*.iml
*.iws

# WebStorm
.webStorm*

# VSCode directories
.vscode/
*.code-workspace

# Local History for Visual Studio Code
.history/

# macOS files
.DS_Store
