<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Website</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/dd2e270553.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <div class="logo">
                <a href="">
                    <img src="../public/images/musical-logo.png" alt="Logo" />
                </a>
            </div>
            <form action="/login" method="POST">
                <div class="navbar">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>

        <div class="welcome">
            <h3>Welcome to Music Website</h3>
        </div>
    </div>

    <div class="play-bar">
        <div class="text">
            <h6>Play bar</h6>
            <p>Login to play song.</p>
        </div>
        <div class="button">
            <button type="button">Login</button>
        </div>
    </div>
</body>

</html>